
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlbeans.com/html/botanical/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2023 09:55:30 GMT -->
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the Compatible of your site -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>Botanical - HTML5 Ecommerce Template</title>
	<!-- include the site Google Fonts stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&amp;display=swap" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="~/Frontend/css/bootstrap.css">
	<!-- include the site fontawesome stylesheet -->
	<link rel="stylesheet" href="~/Frontend/css/fontawesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="~/Frontend/style.css">
	<!-- include theme plugins setting stylesheet -->
	<link rel="stylesheet" href="~/Frontend/css/plugins.css">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="~/Frontend/css/color.css">
	<!-- include theme responsive setting stylesheet -->
	<link rel="stylesheet" href="~/Frontend/css/responsive.css">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- header -->
		@* import file header.cshtml vao day *@
		@Html.Partial("~/Views/Shared/Header2.cshtml")
		<!-- main -->
		<!-- introBannerHolder -->
		@RenderBody();
		<!-- footer -->
		<footer id="footer" class="overflow-hidden bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 copyRightHolder v-II text-center pt-md-3 pb-md-4 py-2">
						<p class="mb-0">Coppyright 2019 by <a href="javascript:void(0);">Botanical Store</a> - All right reserved</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- include jQuery library -->
	<script src="~/Frontend/js/jquery-3.4.1.min.js"></script>
	<!-- include bootstrap popper JavaScript -->
	<script src="~/Frontend/js/popper.min.js"></script>
	<!-- include bootstrap JavaScript -->
	<script src="~/Frontend/js/bootstrap.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="~/Frontend/js/jqueryCustome.js"></script>
</body>

<!-- Mirrored from htmlbeans.com/html/botanical/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2023 09:55:35 GMT -->
</html>